<h1><%= @user.nickname %></h1>
<h3><%= link_to "Logout", logout_path %></h3>

<div class="avatar">
	<%= image_tag(@user.image) %>	
</div>

<div class="basic_info">
	<div class="starred_repos">
		Starred Repos (<%= @starred_count %>)
	</div>

	<div class="followers">
		Followers (<%= @basic_info[:followers] %>)
	</div>

	<div class="following">
		Following (<%= @basic_info[:following] %>)
	</div>	
</div>

<div class="commit_feed">
	Commits
	<ul class="commit_list">
		<% @recent_commits.each do |commit| %>
		<li class="commit">
			<p><%= commit[:commit][:message] %></p>
			<p><%= commit[:repository][:full_name] %></p>
			<p><%= commit[:commit][:author][:date] %></p>
		</li>
		<% end %>
	</ul>
</div>

<div class="following_commit_feed">
	Follower Activity
	<ul class="following_user_list">
		<% @following_commits.each do |user, commits| %>
		<li class="following_user">
			<h5><%= user %></h5>
			<ul class="following_user_commits">
				<% commits.each do |commit| %>
				<li class="following_commit">
						<p><%= commit[:commit][:message] %></p>
						<p><%= commit[:repository][:full_name] %></p>
						<p><%= commit[:commit][:author][:date] %></p>
				</li>
				<% end %>
			</ul>
		</li>
		<% end %>
	</ul>
</div>
